/*   M A I N   S E C T I O N   */
main{
    display: flex;
    justify-content: center;
}

main section {
  padding-top: 30px;
}
    h1{
        font-weight: bold;
    }
        p{
            padding-top: 10px;
            font-weight: 500;
        }

main > h1,
main > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

main a {
  color: var(--dark-color);
  text-decoration: none;
  display: flex;
  justify-content: start;
  border-radius: 10px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
  main a:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }

/*   F I G U R E   */
figure{
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0;
}
  figcaption{ 
    font-weight: bold;
    padding: 20px;
  }

/*   G R I D   L A Y O U T   */
main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

main section img {
  height: 150px;
  width: 150px;
  background-color: #9c9c9cbb;
}

/*   R E S P O N S I V I D A D E   */
@media (max-width: 800px) {
  main section{
    grid-template-columns: 1fr;
  }
}