/*    */
main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .limit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

section:last-of-type .limit-container {
    flex-direction: row-reverse;
}

