/*    */
main {
  display: flex;
  flex-direction: column;
}

main section .limit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  min-height: calc(100vh - 100px);
}

main section:last-of-type .limit-container {
  flex-direction: row-reverse;
}

.limit-container>img {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}

main article p {
  padding-top: 20px;
}

main section:last-child {
  height: calc(100vh - 100px);
  background-image: url(../img/bg-option-8.svg);
  background-repeat: no-repeat;
}
main section:last-child img {
  width: 350px;
  height: 350px;
}

main section:nth-child(1) {
  height: calc(100vh - 100px);
  background-image: url(../img/bg-option-6.svg);
  background-repeat: no-repeat;
}

main section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

main section:nth-of-type(1) {
  transform: rotate(180deg);
}

main section:nth-of-type(1) .limit-container {
  transform: rotate(180deg);
}

/*   Q U E R I E S   */
@media (max-width: 975px) {
  main {
    height: auto;
  }
  main section .limit-container, main section:last-of-type .limit-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }
}