/*    */
main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .limit-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

section:last-of-type .limit-container {
    flex-direction: row-reverse;
}

.limit-container>img { 
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 10px;
}

article p{
  padding-top: 20px;
}